
    <ul class="nav nav-pills nav-fill bg-info">
      <li class="nav-item" 
        *ngFor="let route of routes"
        [ngClass]="{'dropdown': route.children }"
        routerLinkActive="active"
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false"
        appHeadDropdown>
        <a class="nav-link" [routerLink]="[route.path]">
          {{ route.name }}
        </a>
        <ul class="dropdown-menu"
            *ngIf="route.children">
          <li *ngFor="let subroute of route.children; let i = index">
            <a class="dropdown-item" [routerLink]="[route.path, subroute.path]">{{ route.subroutes[i] }}</a>
          </li>
        </ul>
      </li>
    </ul>
